
<DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Big Data</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>
    <body>
        <h1>Hello from Big Data</h1>
        <img src="https://picsum.photos/200/300" alt="">
        {% if name %}
            <h1>{{ name }}!</h1>
        {% else %}
            <h1>No name</h1>
        {% endif %}
    </body>
</html>