<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Big Data Uniminuto.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/bulma/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="/static/fontawesome/css/all.css">

</head>

<body>
    <section class="hero is-dark">
        <div class="hero-body">
            <a href="http://localhost:8888/" style='color:white'>
                <div class="container">
                    <h1 class="title">
                        <i>Sales Forces</i>
                        </a>
                    </h1>
                    <h2 class="subtitle">
                        <i>Uniphos Plant Limited</i>
                    </h2>
                </div>
            </a>
        </div>
    </section>

    <div class="section">
        <div class="columns">
            <aside class="column is-2">
                <nav class="menu">
                    <p class="menu-label">
                        OPCIONES DE VISUALIZACIÓN
                    </p>
                    <ul class="menu-list">

                        <video id="video" autoplay playsinline autobuffer muted loop>
                            <source src="https://www.upl-ltd.com/images/UPL_header-logo.mp4"
                                type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
                        </video>
                    </ul>
                    <p class="menu-label">
                        Administración
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a class="">Gráficos</a>
                            <ul>
                                <li><a href="http://localhost:8888/map/">Ventas por producto</a></li>
                                <li><a href="http://localhost:8888/map2/">Clima vs ventas</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </aside>

            <main class="column">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                                <i class="fa fa-cog"></i>
                            <div class="title">Dashboard {{ ano }} - {{ segmento }}
                            </div>
                        </div>

                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <button type="button" class="button is-small">
                                March 8, 2017 - April 6, 2017
                            </button>
                        </div>
                    </div>
                </div>

                <form action="{{ url_root }}map2/" method="POST" id="map-form">
                    <select name="Segmento" form="map-form">
                        <option value="Fungicidas" name="Segmento">Fungicidas</option>
                        <option value="Insecticidas" name="Segmento">Insecticidas</option>
                        <option value="Herbicidas" name="Segmento">Herbicidas</option>
                        <option value="Coadyuvantes" name="Segmento">Coadyuvantes</option>
                        <option value="Otros" name="Segmento">Otros</option>
                        <!-- <option value="Biosoluciones" name="Segmento">Biosoluciones</option> -->
                    </select>
                    <label>Año</label>
                    <select name="Ano" form="map-form">
                        <option value="2014" name="2014">2014</option>
                        <option value="2015" name="2015">2015</option>
                        <option value="2016" name="2016">2016</option>
                        <option value="2017" name="2017">2017</option>
                        <option value="2018" name="2018">2018</option>
                        <option value="2019" name="2019">2019</option>
                    </select>
                    <input type="submit" value="Submit" onclick="myFunction()">
                </form>

                {% if map_exist %}
                     <img src="data:image/png;base64,{{ map_exist }}"/>
                {% else %}
                     <img src="/static/tenor.gif" id="whatever" hidden/>
                {% endif %}
            </main>
        </div>
    </div>
</body>
<script>
    function myFunction() {
        let p = document.getElementById('whatever');
        p.removeAttribute("hidden");
    }
    </script>
</html>